$color-blue: var(--primary-text-color, #23A6F0);
$color_main:  var(--primary-text-color, #23A6F0);
  $color-color: #f1f1f1;
  $color-backgroud: #737171;
  $color-black:black;
  $color-grey: #737373;
  $gap_10: 10px;
  $gap_20: 20px;
  $gap_21: 21px;
  $gap30: 30px;
  $gap_35: 35px;
  $gap_45: 45px;
  $gap_80: 80px;
  $margin_auto: 0px auto;
  $padding_80: 80px 0px;
  $padding_30: 30px;
  $padding_35: 35px;
  // $max-line: -webkit-line-clamp;